div {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff !important;
}

.header-1, .header-2, .paragraph {
  display: block !important;
  margin-top: 0.33em !important;
  margin-bottom: 0.33em !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  line-height: 1 !important;
  padding: 0 !important;
  font-family: 'Lato', sans-serif !important;
}

.header-1 {
    font-size: 2em !important;
    font-weight: bold !important;
    text-align: center !important;
}

.header-2 {
    font-size: 1.5em !important;
    font-weight: bold !important;
    text-align: center !important;
}

.paragraph {
  font-size: 1em !important;
}

.grey-text {
  color: grey !important;
}

.blue-text {
  color: blue !important;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 60px calc(100vh - 60px);
  grid-template-areas:
  "nav nav nav nav nav nav nav nav nav nav nav nav"
  "left-sidebar left-sidebar left-sidebar main main main main main main right-sidebar right-sidebar right-sidebar";
}

nav {
  grid-area: nav;
}

.main {
  grid-area: main;
  transition: 5s;
}

.close-left-sidebar {
  grid-column-start: 1;
  grid-column-end: 10;
  transition: 5s;
}

.close-right-sidebar {
  grid-column-start: 4;
  grid-column-end: 13;
  transition: 5s;
}

.close-both-sidebars {
  grid-column-start: 1;
  grid-column-end: 13;
  transition: 5s;
}

.left-sidebar {
  grid-area: left-sidebar;
}

.right-sidebar {
  grid-area: right-sidebar;
}

/* Elements */


.faded-border {
  height: 1px;
  background: #dcdbdc;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, #dcdbdc));
}
