div {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff !important;
  margin: 0;
  padding: 0;
}

.h1, .h2, .h3, .p {
  display: block;
  margin-top: 0.33em;
  margin-bottom: 0.33em;
  margin-left: 0;
  margin-right: 0;
  line-height: 1;
  padding: 0;
}

.h1, .h2, .h3, .h4 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.h1 {
    font-size: 2em;
}

.h2 {
    font-size: 1.5em;
}

.h3 {
    font-size: 1.17em;
}

.h4 {
    font-size: 1em;
}

.p {
  font-size: 1em;
  font-family: 'Slabo 27px', serif;
}

.center-text {
  text-align: center;
}

.white-text {
  color: #fff;
}

.grey-text {
  color: grey;
}

.blue-text {
  color: #002eba;
}

.red-text {
  color: #ea2b1f;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 60px calc(100vh - 60px);
  grid-template-areas:
  "nav nav nav nav nav nav nav nav nav nav nav nav"
  "left-sidebar left-sidebar left-sidebar main main main main main main right-sidebar right-sidebar right-sidebar";
}

nav {
  grid-area: nav;
}

.main {
  grid-area: main;
  transition: 5s;
}

.close-left-sidebar {
  grid-column-start: 1;
  grid-column-end: 10;
  transition: 5s;
}

.close-right-sidebar {
  grid-column-start: 4;
  grid-column-end: 13;
  transition: 5s;
}

.close-both-sidebars {
  grid-column-start: 1;
  grid-column-end: 13;
  transition: 5s;
}

.left-sidebar {
  grid-area: left-sidebar;
}

.right-sidebar {
  grid-area: right-sidebar;
}

/* Elements */


.faded-border {
  height: 1px;
  background: #dcdbdc;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, #dcdbdc));
}
