div {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff !important;
  margin: 0;
  padding: 0;
}

.h1, .h2, .h3, .p {
  display: block;
  margin-top: 0.33em;
  margin-bottom: 0.33em;
  margin-left: 0;
  margin-right: 0;
  line-height: 1;
  padding: 0;
}

.h1, .h2, .h3, .h4 {
  font-family: 'Sanchez', serif;
}

.h1 {
    font-size: 2em;
}

.h2 {
    font-size: 1.5em;
}

.h3 {
    font-size: 1.17em;
}

.h4 {
    font-size: 1em;
}

.p {
  font-size: 1em;
  font-family: 'Scope One', serif;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.white-text {
  color: #fff;
}

.off-white-text {
  color: #eff2f5;
}

.dark-grey-text {
  color: #282d38;
}

.grey-text {
  color: #4a5367;
}

.blue-text {
  color: #002eba;
}

.red-text {
  color: #f54f45;
}

button:focus {
  outline:0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows:calc(100vh - 60px);
  grid-template-areas:
  "left-sidebar left-sidebar left-sidebar main main main main main main right-sidebar right-sidebar right-sidebar";
}

.grid-mobile {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-template-rows: 300px 90vh 1fr;
  grid-template-areas:
  "left-sidebar"
  "main"
  "right-sidebar";
}

nav {
  grid-area: nav;
}

.main {
  grid-area: main;
  z-index: 1;
}

.close-left-sidebar {
  grid-column-start: 1;
  grid-column-end: 10;
}

.close-right-sidebar {
  grid-column-start: 4;
  grid-column-end: 13;
}

.close-both-sidebars {
  grid-column-start: 1;
  grid-column-end: 13;
}

.left-sidebar {
  grid-area: left-sidebar;
}

.right-sidebar {
  grid-area: right-sidebar;
}

/* Elements */


.faded-border {
  height: 1px;
  background: #dcdbdc;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, #dcdbdc));
}

.modal-window {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(74, 83, 103, 0.85);
}

.btn-container {
  width: 100%;
  display: grid;
  grid-template-columns: calc(50% - 87.5px) 175px calc(50% - 87.5px);
  grid-template-rows: 20px 40px 20px;
  grid-template-areas:
  ". . ."
  ". btn ."
  ". . .";
}

.btn {
  grid-area: btn;
  border-radius: 4px;
  background-color: #f54f45;
  font-size: 125%;
  border-width: 0px;
  color: #fff;
  cursor: pointer;
  transition: .5s;
}

.btn img {
  height: 15px;
  width: auto;
}

.btn:hover {
  background-color: #ea2b1f;
  transition: .5s;
}

.modal {
  position: absolute;
  width: 50%;
  min-height: 200px;
  border-radius: 4px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.modal .h3 {
  margin: 20px 0;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-image: url(./components/images/close.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

@media screen and (max-width: 765px) {
  .grid {
    grid-template-columns: 100%;
    grid-template-rows: 300px 90vh 1fr;
    grid-template-areas:
    "left-sidebar"
    "main"
    "right-sidebar";
  }
}
