.right-sidebar {
  border-left: 1px solid #dcdbdc;
}

.right-sidebar  > .header {
  color: #002eba !important;
  text-align: center;
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-areas:
  "header toggle-team-show-btn"
}

.header h2 {
  grid-area: header;
}

.toggle-team-show-btn {
  background-image: url('../images/angle-down-blue.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  grid-area: toggle-team-show-btn;
}

.toggle-team-show-btn:hover {
  background-image: url('../images/angle-down-red.svg');
}
