.right-sidebar {
  border-left: 1px solid #dcdbdc;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40px calc(50% - 40px) 40px calc(50% - 40px);
  grid-template-areas:
  "team-header"
  "troop"
  "comments-header"
  "comments";
}

.team-header {
  grid-area: team-header;
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-areas:
  "header toggle-team-show-btn";
}

.comments-header {
  border-top: 1px solid #dcdbdc;
  grid-area: comments-header;
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-areas:
  "header toggle-team-show-btn";
}

.header .h2 {
  grid-area: header;
}

.toggle-team-show-btn {
  background-image: url('../images/angle-down-blue.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  grid-area: toggle-team-show-btn;
}

.toggle-team-show-btn:hover {
  background-image: url('../images/angle-down-red.svg');
}

.troop {
  grid-area: troop;
  overflow-y: scroll;
}

.comments {
  grid-area: comments;
  overflow-y: scroll;
}
