.link-container {
  width: calc(90% - 42px);
  display: inline-block;
  border: 1px solid #dcdbdc;
  border-radius: 4px;
  margin: 0 10px 0 20px;
  height: 40px;
  white-space:nowrap;
  overflow-x: scroll;
  padding-left: 10px;
}

.link-container .p {
  line-height: 40px;
  margin: 0;
}

.link-container:focus {
  outline: 0;
}

.copy-container {
  display: inline-block;
  margin: 0 20px 0px 0;
  width: calc(10% - 20px);
  height: 30px;
  border-radius: 4px;
  background-image: url(../../images/clipboard.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
