.main {
  background-color: #fff;
  display: grid;
  grid-template-rows: 40px calc(50% - 40px) 50px calc(50% - 50px);
  grid-template-columns: 20px 5px calc(100% - 50px) 5px 20px;
  grid-template-areas:
  "version version version version version"
  ". . email-container . ."
  "left-close-button . email-container . right-close-button"
  ". . email-container . .";
}

.email-container {
  grid-area: email-container;
  background-color: #dcdbdc;
  overflow-y: scroll;
  margin: 0 5px;
}

.version {
  grid-area: version;
  display: grid;
}

.left-close-button {
  grid-area: left-close-button;
  border-top: 1px solid #dcdbdc;
  border-bottom: 1px solid #dcdbdc;
  border-right: 1px solid #dcdbdc;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.right-close-button {
  grid-area: right-close-button;
  border-top: 1px solid #dcdbdc;
  border-bottom: 1px solid #dcdbdc;
  border-left: 1px solid #dcdbdc;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
}

.left-facing-btn {
  background-image: url(../images/angle-left-red.svg);
}

.right-facing-btn {
  background-image: url(../images/angle-right-red.svg);
}


.button {
  width: 100%;
  height: 100%;
}

.button:hover {
  background-color: #dcdbdc;
}

/*.invert {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}*/
