.left-sidebar {
  border-right: 1px solid #dcdbdc;
}

.review-header {
  grid-template-rows: 50px;
  grid-template-columns: 100%;
  grid-template-areas:
  "review-header"
}

.review-header .h2 {
  grid-area: review-header;
  line-height: 50px;
  margin: 0;
}
