nav {
  border-bottom: 1px solid #dcdbdc;
  color: grey;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
  "logo";
}

.logo {
  grid-area: logo;
  height: inherit;
}
