nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "logo log";
  background-color: #4a5367;
}

.logo {
  grid-area: logo;
  height: inherit;
  padding-left: 10px;
}

.log {
  grid-area: log;
  height: inherit;
  padding-right: 10px;
  line-height: 50px;
  cursor: pointer;
  text-align: right;
}

.log a {
  text-decoration: none;
}
