.comment {
  display: grid;
  grid-template-columns: 5px calc(100% - 10px) 5px;
  grid-template-rows: 7.5px 1fr 7.5px;
  grid-template-areas:
  ". . ."
  ". comment-container ."
  ". . .";
}

.comment-container {
  background-color: #ffffff;
  grid-area: comment-container;
  display: grid;
  border-radius: 2px;
  grid-template-columns: 10px calc(100% - 30px) 20px;
  grid-template-rows: 25px 25px 1fr;
  grid-template-areas:
  ". comment-name delete-comment"
  ". comment-date ."
  ". comment-comment ."
}

.comment-name {
  grid-area: comment-name;
}

.comment-date {
  grid-area: comment-date;
}

.comment-comment {
  grid-area: comment-comment;
  line-height: 1.2em
}

.delete-comment {
  margin: 10px 10px 0 0;
  grid-area: delete-comment;
  background-image: url('../../../images/delete.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
  cursor: pointer;
}
