.comment {
  display: grid;
  grid-template-columns: 5px calc(100% - 10px) 5px;
  grid-template-rows: 7.5px 1fr 7.5px;
  grid-template-areas:
  ". . ."
  ". comment-container ."
  ". . .";
}

.comment-container {
  background-color: #ffffff;
  grid-area: comment-container;
  display: grid;
  border-radius: 2px;
  grid-template-columns: 10px calc(100% - 15px);
  grid-template-rows: 25px 25px 1fr;
  grid-template-areas:
  ". comment-name"
  ". comment-date"
  ". comment-comment"
}

.comment-name {
  grid-area: comment-name;
}

.comment-date {
  grid-area: comment-date;
}

.comment-comment {
  grid-area: comment-comment;
  line-height: 1.2em
}
